@import "tailwindcss";

@theme {
  /* Font Family */
  --font-poppins: "Poppins", sans-serif;
  --font-chakra: "Chakra Petch", sans-serif;

  /* Brand Color Palette */
  --color-brand: 147 51 234;
  --color-brand-light: 168 85 247;
  --color-brand-dark: 107 33 168;

  --color-bg: 248 249 252;
  --color-text: 17 24 39;
  --color-muted: 107 114 128;

  --shadow-rounded: 0 0 15px 2px rgb(0, 0, 0, 0.5);

  /* Scrolling Animations */
  --animate-scroll-right: scroll-right 20s linear infinite;
  --animate-scroll-left: scroll-left 20s linear infinite;

  @keyframes scroll-right {
    0% {
      transform: translateX(-50%);
    }
    100% {
      transform: translateX(0%);
    }
  }

  @keyframes scroll-left {
    0% {
      transform: translateX(0%);
    }
    100% {
      transform: translateX(-50%);
    }
  }
}

html,
body {
  font-family: var(--font-chakra);
  background-color: var(--color-bg);
  scroll-behavior: smooth;
}

.blob-bg {
  background-image: url("../public/assets/background/blob-bg-1.svg");
}
