@import "tailwindcss";

@theme {
  /* Font Family */
  --font-poppins: "Poppins", sans-serif;
  --font-chakra: "Chakra Petch", sans-serif;

  /* Brand Color Palette */
  --color-brand: 147 51 234;
  --color-brand-light: 168 85 247;
  --color-brand-dark: 107 33 168;

  --color-bg: 248 249 252;
  --color-text: 17 24 39;
  --color-muted: 107 114 128;
}

@layer base {
  html,
  body {
    @apply font-chakra bg-[rgb(var(--color-bg))] scroll-smooth;
  }

  .blob-bg {
    @apply bg-[url("../public/assets/background/blob-bg-1.svg")];
  }
}
